@media only screen and (max-width : 767px) {
    .navbar {
        padding: 10px 0 !important;
    }

    .main-header .navbar-brand img {
        width: 180px !important;
    }

    .home-main-intro .heading h1 {
        font-size: 25px;
        line-height: 1.5;
    }

    .home-main-intro .heading h1 .font-weight-light {
        font-size: 20px;
    }

    .home-main-intro .heading .h5 {
        font-size: 0.8rem;
    }

    .form-search.form-search-style-02 .form-search-item {
        padding: 10px !important;
        margin-bottom: 1rem !important;
    }

    .form-search.form-search-style-02 .form-control {
        font-size: 13px !important;
    }

    .form-search.form-search-style-02 .btn {
        font-size: 14px;
        padding: 10px !important;
    }

    .icon-box-style-01 {
        width: 17.4ch;
    }

    .home-main-intro-container .list-inline-item {
        padding-bottom: 0 !important;
    }

    .font-size-md {
        font-size: 0.75rem !important;
    }

    .our-directory h2 span,
    .post-style-1 .font-weight-semibold,
    .home-main-how-it-work h2,
    #section-06 .letter-spacing-50 {
        font-size: 20px !important;
    }

    .our-directory p,
    .post-style-1 .font-weight-light {
        font-size: 14px !important;
    }

    .pb-8 {
        padding-bottom: 2rem !important;
    }

    .pt-8 {
        padding-top: 2rem !important;
    }

    .btn-sm-mobile {
        font-size: 12px !important;
        padding: 8px 12px !important;
    }

    .ml-0 {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    .footer-menu-item {
        flex-wrap: wrap !important;
    }

    .padding-space li {
        list-style: none;
        padding: 5px 14px !important;
    }

    .page-about .banner-content {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .banner-content h1 {
        font-size: 25px !important;
        margin-bottom: 20px;
    }


}


@media (max-width: 768px) {
  .max-w-7xl .container {
    flex-direction: column;
  }

  .max-w-7xl form {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }

  .max-w-7xl .form-row {
    flex-direction: column;
  }

  .max-w-7xl .info-side {
    border-radius: 1rem 1rem 0 0;
  }
}
